/*This allows the navbar to have the sticky effect, a set hieght and a 3d effect
wth shadows*/
header {
  background: #6629a3;
  text-align: center;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 100;
  height: 10vh;
  box-shadow: 0 10px 20px 0;
}

/*Sets the logo's margin placement and color*/
.logo {
  margin: 0;
  transform: translateY(25%);
  color: white;
}

/*made the nav absolute to be relative to the header, added transforms and transition
add the animation*/
nav {
  position: absolute;
  text-align: center;
  top: 100%;
  background: #0d0c0c;
  width: 100%;
  transform: translateX(-100%);
  transition: all 250ms ease-in-out;
  height: 90vh;
  display: flex;
  justify-content: space-around;
}

/*Groups the links together*/
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

/*Decorates the links look*/
nav a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  text-transform: uppercase;
  position: relative;
}

/*Creates the line under the links*/
nav a::after {
  content: '';
  display: block;
  height: 6px;
  background: #6629a3;
  position: absolute;
  left: 0;
  right: 0;
  transform: scale(0, 1);
  transform-origin: left;
  transition: all ease-in-out 250ms;
}

/*Adds in the animation on hover*/
nav a:hover::after {
  transform: scale(1, 1);
}

/*Makes a checkbox to click on for the nav to pop up*/
.nav-toggle:checked ~ nav {
  transform: translateX(0%);
}

/*By defualt checkbox comes up when using the checkbox command
so I used display none to remove it and replace it with the 
burger menu*/
.nav-toggle {
  display: none;
}

/*Creates the middle line between the burger menu*/
.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

/*Used after and before pseudo elements to create lines before 
and after the middle line creating a burger menu*/
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background-color: white;
  height: 3px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

/*Used absolute to make the lines relative to the 
nav-toggle-label container to contain the lines without
stretching out*/
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

/*Places the before line above the middle line*/
.nav-toggle-label span::before {
  bottom: 7px;
}

/*Places the after line below the middle line*/
.nav-toggle-label span::after {
  top: 7px;
}

/*Makes everything centered and the container not leak out using flex*/
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

/*Makes the container for both the image and the content*/
.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: auto;
  background: white;
  margin-top: 4em;
  box-shadow: 0 0 10px;
}

/*contains the image and is the background of the image*/
.shop-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/*Makes the background for asus red*/
.red {
  background: linear-gradient(to right, #e60b1e, #7d0913);
}

/*Makes the background for acer blue*/
.blue{
  background: linear-gradient(to right, #20a4a8, #073738);
}

/*Makes the background for omen green*/
.green{
  background: linear-gradient(to right, #20c74c, #1f6933);
}

/*Makes the background for dell gray*/
.gray{
  background: linear-gradient(to right, #cbd3d4, #262929);
}

/*Makes the ACER logo behind the image*/
.shop-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 24px;
  color: #000;
  opacity: 0.2;
  font-size: 7em;
  font-weight: 800;
}

/*Makes the logo in the image say asus*/
.red-image::before {
  content: 'ASUS';
}

/*Makes the logo in the image say acer*/
.blue-image::before {
  content: 'ACER';
}

/*Makes the logo in the image say omen*/
.green-image::before {
  content: 'OMEN';
}

/*Makes the logo in the image say dell*/
.gray-image::before {
  content: 'DELL';
}
/*sets a fixed image width and is relative to have
a heigher z-index then the logo*/
.shop-image img {
  position: relative;
  left: 0;
  right: 0;
  max-width: 50%;
  padding: 3em;
}
/*The container that holds all the content
below the image.*/
.details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
}

/*Contained with the span this is the title*/
.details h2{
  margin: 0;
  padding: 0;
  font-size: 2.4em;
  line-height: 1em;
  color: #444;
}

/*Contained with the title it is the smaller
part of it*/
.details h2 span {
  font-size: 0.4em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #999;
}

/*The paragraph that describes the details of
the laptop*/
.details p {
  max-width: 100%;
  margin-left: 0;
  color: #333;
  font-size: 15px;
  margin-bottom: 36px;
}

/*This is the price tag*/
.details h3 {
  margin: 0;
  padding: 0;
  font-size: 2.5em;
  color: #a2a2a2;
  float: left;
}

/*button for the card*/
button {
  background: #000;
  cursor: pointer;
  color: #fff;
  border: none;
  outline: none;
  padding: 15px 20px;
  margin-top: 5px;
  font-size: 1em;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 100vh;
  float: right;
  transition: 250ms;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px black;
}
